.noticeimage{
    width: 100%;
}
.heading{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.4;
    font-weight: 700;
    text-decoration: underline;
}
.container{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;

}
.modalcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  
  .close:hover,
  .close:focus {
    color: #1d916a;
    border: 2px solid #1d916a;
    text-decoration: none;
    cursor: pointer;
  }
  .close{
    width: fit-content;
    display: block;
    margin: 0 auto;
    border: 2px solid #ff4500;
    background-color: white;
    color: #ff4500;
    padding: 0.01rem 2rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.4;
    cursor: pointer;
  }
  .button{
    border: 1px solid #ff4500;
    background-color: white;
    border-radius:6px;
    color: #ff4500;
    padding: 4px 8px;
    min-height: 32px;
    min-width: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    line-height: 1.2em;
    cursor: pointer;
    white-space: nowrap;
    float: right;
  }
  .button:hover{
    background-color: #ff4500;
    color: white;
}

@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 850px) {
.noticeimage{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.modalcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 60%;
  }
}