.maincontainer{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-size: 2em;
    font-weight: 700;
    color: #1d619a;
    height: 80vh;
    gap: 2rem;
}
.text{
    margin: 0.5rem 0;
}